<!--=================Content Section Start================-->

<div style="padding:30px 30px 0px 30px;">

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="resume_build_2l" valign="top">
        <div>

          <div>
            <% if(profileImageInfo[0]) { %>
              <img src=<%=profileImage %> class="resume_img center-block">
              <%}%>
          </div>
          <div class="resume_build_names2">
            <%= candidateInfo[0].firstName %>
              <%= candidateInfo[0].lastName %>
          </div>
          <div class="resume_build_des2">
            <%= candidateInfo[0].positionApplyingFor %>
          </div>

          <div>
            <% if(candidateInfo[0].telephoneNumber) { %>
              <div class="resume_2_sec"><img src="../../../../images/land_phone.png"></div>
              <div class="resume_2_sec">
                <%= candidateInfo[0].telephoneNumber %>
              </div>
              <div class="clearfix"></div>
              <%}%>
                <% if(candidateInfo[0].phoneNumber) { %>
                  <div class="resume_2_sec"><img src="../../../../images/resume_phone.png"></div>
                  <div class="resume_2_sec">
                    <%= candidateInfo[0].phoneNumber %>
                  </div>
                  <div class="clearfix"></div>
                  <%}%>
                    <% if(candidateInfo[0].email) { %>
                      <div class="resume_2_sec"><img src="../../../../images/resume_mail.png"></div>
                      <div class="resume_2_sec">
                        <%= candidateInfo[0].email%>
                      </div>
                      <%}%>

          </div>


          <div>
            <div class="resumesec_sub_head2">Basic Information</div>
            <% if(candidateInfo[0].currentAddress1) { %>
              <div class="resume_sub2_sec">Current Address</div>
              <div class="resume_sub2_sec1">
                <%= candidateInfo[0].currentAddress1 %>
              </div>
              <%}%>
                <% if(candidateInfo[0].permanantAddress1) { %>
                  <div class="resume_sub2_sec">Permanent Address</div>
                  <div class="resume_sub2_sec1">
                    <%= candidateInfo[0].permanantAddress1 %>
                  </div>
                  <%}%>
                    <% if(candidateInfo[0].dob) { %>
                      <div class="resume_sub2_sec">DOB</div>
                      <div class="resume_sub2_sec1">
                        <%= candidateInfo[0].dob %>
                      </div>
                      <%}%>
                        <% if(candidateInfo[0].genderTitle) { %>
                          <div class="resume_sub2_sec">Gender</div>
                          <div class="resume_sub2_sec1">
                            <%= candidateInfo[0].genderTitle %>
                          </div>
                          <%}%>
                            <% if(candidateInfo[0].martialStatusTitle) { %>
                              <div class="resume_sub2_sec">Marital Status</div>
                              <div class="resume_sub2_sec1">
                                <%= candidateInfo[0].martialStatusTitle %>
                              </div>
                              <%}%>
                                <% if(candidateInfo[0].countryName) { %>
                                  <div class="resume_sub2_sec">Country</div>
                                  <div class="resume_sub2_sec1">
                                    <%= candidateInfo[0].countryName %>
                                  </div>
                                  <%}%>

          </div>


          <div class="clearfix"></div>

          <div>
            <% if(languageMapInfo.length>0) { %>
              <div class="resumesec_sub_head2">Languages</div>
              <%}%>
                <% for(var i=0; i < languageMapInfo.length; i +=1) { %>
                  <div class="resume_sub_languages2">
                    <%-languageMapInfo[i].languageName%>
                  </div>

                  <% } %>

          </div>

          <div>

            <% if(socialAccountsInfo.length>0) { %>
              <div class="resumesec_sub_head2">Social</div>
              <% if(socialAccountsInfo[0].google!=undefined && socialAccountsInfo[0].google) { %>
                <div class="resume_sub_sec2"><img src="../../../../images/google.png" width="20px"></div>
                <div class="resume_sub2_sec3">
                  <%-socialAccountsInfo[0].google%>
                </div>
                <div class="clearfix"></div>
                <% } %>
                  <% if(socialAccountsInfo[0].facebooks!=undefined && socialAccountsInfo[0].facebooks) { %>
                    <div class="resume_sub_sec2"><img src="../../../../images/resume_facebook.png" width="20px"></div>
                    <div class="resume_sub2_sec3">
                      <%-socialAccountsInfo[0].facebooks%>
                    </div>
                    <div class="clearfix"></div>
                    <% } %>
                      <% if(socialAccountsInfo[0].twitter!=undefined && socialAccountsInfo[0].twitter) { %>
                        <div class="resume_sub_sec2"><img src="../../../../images/resume_twitter.png" width="20px">
                        </div>
                        <div class="resume_sub2_sec3">
                          <%-socialAccountsInfo[0].twitter%>
                        </div>
                        <div class="clearfix"></div>
                        <% } %>
                          <% if(socialAccountsInfo[0].linkedIn!=undefined && socialAccountsInfo[0].linkedIn) { %>
                            <div class="resume_sub_sec2"><img src="../../../../images/linkedin.png" width="20px"></div>
                            <div class="resume_sub2_sec3">
                              <%-socialAccountsInfo[0].linkedIn%>
                            </div>
                            <% } %>
                              <% } %>
          </div>
        </div>
      </td>
      <td class="resume_build_2r" valign="top">

        <div class="resume_right_sec">
          <% if(candidateInfo[0].profileSummary.length>0) { %>
            <div class="resume_right_head2">Personal Summary</div>
            <div class="resume_right_con">
              <%=candidateInfo[0].profileSummary%>
            </div>
            <% } %>
              <% if(experienceInfo.length>0) {
                var arrayResponsibility=[];
                var arrayAchievement=[];
                %>
                <div class="resume_right_head2">Experience</div>
                <% } %>
                  <% for(var i=0; i < experienceInfo.length; i +=1) { %>
                    <div class="resume_eyr2">
                      <%-experienceInfo[i].fromDate%> - <% if(experienceInfo[i].currentlyWorkHereFlag==true) {%> Present
                          <%} else {%>
                            <%-experienceInfo[i].toDate%>
                              <%}%> - <%-experienceInfo[i].jobRole%> - <span
                                    style="font-weight: 600 ; color: #2d2d2d;font-size: 14px;">
                                    <%-experienceInfo[i].employerName%>
                                  </span>
                    </div>

                    <% if(experienceInfo[i].responsibilities) {
                      arrayResponsibility.push(experienceInfo[i].responsibilities) } %>
                      <% if(experienceInfo[i].achievements) { arrayAchievement.push(experienceInfo[i].achievements) } %>

                        <% } %>
                          <div class="clearfix"></div>
                          <% if(arrayResponsibility.length>0) { %>
                            <div class="resume_right_head2">Responsibilities</div>
                            <% for(var i=0; i < arrayResponsibility.length; i +=1) { %>
                              <div class="resume_right_con2">
                                <%-arrayResponsibility[i]%>
                              </div>
                              <% } %>
                                <% } %>
                                  <% if(arrayAchievement.length>0) { %>
                                    <div class="resume_right_head2">Achievements</div>
                                    <% for(var i=0; i < arrayAchievement.length; i +=1) { %>
                                      <div class="resume_right_con2">
                                        <%-arrayAchievement[i]%>
                                      </div>
                                      <% } %>
                                        <% } %>
                                          <div class="clearfix"></div>

                                          <% if(educationQualificationInfo.length>0) { %>
                                            <div class="resume_right_head2">Education</div>
                                            <% for(var i=0; i < educationQualificationInfo.length; i +=1) { %>
                                              <div class="resume_eyr2">
                                                <%-educationQualificationInfo[i].qualificationYear%> -
                                                  <%-educationQualificationInfo[i].university%>
                                              </div>
                                              <div class="resume_exp2">
                                                <%-educationQualificationInfo[i].course%>
                                              </div>
                                              <div class="resume_right_con2">
                                              </div>

                                              <% } %>

                                                <div class="clearfix"></div>
                                                <% } %>
                                                  <% if(skillsInfo.length>0) { %>
                                                    <div class="resume_right_head2">Skills</div>
                                                    <% for(var i=0; i < skillsInfo.length; i +=1) { %>
                                                      <div class="resume_skills">
                                                        <span style="font-size: 8px;padding-right: 5px;"> <i
                                                            class="fa fa-circle"></i></span>
                                                        <%-skillsInfo[i].skillName%>
                                                      </div>
                                                      <% } %>
                                                        <div class="clearfix"></div>
                                                        <% } %>
                                                          <% if(skillsInfo.length>0) { %>
                                                            <div class="resume_right_head2">Training</div>
                                                            <% for(var i=0; i < trainingInfo.length; i +=1) { %>
                                                              <div class="resume_skills">
                                                                <span style="font-size: 8px;padding-right: 5px;"> <i
                                                                    class="fa fa-circle"></i></span>
                                                                <%-trainingInfo[i].trainingCertificate%>
                                                              </div>
                                                              <% } %>
                                                                <div class="clearfix"></div>

                                                                <% } %>



                                                                  <div class="resume_right_head2">Declaration</div>
                                                                  <div class="resume_right_con">I hereby declare that
                                                                    the
                                                                    information
                                                                    provided is
                                                                    true
                                                                    and
                                                                    correct.
                                                                    I
                                                                    also understand that any willful dishonesty may
                                                                    render for
                                                                    refusal
                                                                    of
                                                                    this
                                                                    application.
                                                                  </div>


                                                                  <div class="resume_date">Date: <%=
                                                                      moment().format("DD/MM/YYYY")%>
                                                                  </div>
                                                                  <div class="resume_signature">Signature </div>
                                                                  <div class="resume_date">
                                                                  </div>
                                                                  <div class="resume_signature">
                                                                    <%= candidateInfo[0].firstName %>
                                                                      <%= candidateInfo[0].lastName %>
                                                                  </div>



        </div>

      </td>
    </tr>
  </table>



  <div class="resume_build_2l">


  </div>
  <div style="font-size:14px ;color:#222222; text-align: center;background:#fff;padding-bottom: 10px;">
    Designed with JIT Career's Resume Builder
  </div>





</div>
<!-- ----------- -->