<div style="padding:30px 30px 0px 30px;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#fff;">
    <tr>

      <td width="25%" valign="top" style="background:#e2e2e2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"
              style="background:#4b56c0; font-size:16px ; text-align: center; color:#fff; padding:10px 0px 10px 0px; font-weight:600;">
              Resume</td>
          </tr>
          <tr>

            <td valign="top" style="background:#e2e2e2">
              <% if(profileImageInfo[0]) { %>
                <img width="100%" height="250px" src=<%=profileImage %>>

                <%}%>
            </td>

          </tr>
          <tr>
            <td valign="top" style="background:#222222">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td
                    style="font-size:26px ; text-align: center; color:#fff; padding:10px 0px 5px 0px; font-weight:600;">
                    <%= candidateInfo[0].firstName %>
                      <%= candidateInfo[0].lastName %>
                  </td>
                </tr>
                <tr>
                  <td style=" font-size:16px ; text-align: center; color:#fff; padding:0px 0px 10px 0px;
                                font-weight:600;">
                    <%= candidateInfo[0].positionApplyingFor %>
                  </td>
                </tr>
              </table>

            </td>
          </tr>
          <tr>
            <td valign="top" style="background:#e2e2e2">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="2"
                    style="font-size:18px ; text-align: left; color:#222222; padding:25px 0px 20px 25px; font-weight:600;">
                    Basic Information
                  </td>
                </tr>
                <% if(candidateInfo[0].currentAddress1) { %>
                  <tr>
                    <td width="25%" height="70" valign="top"
                      style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                      Current Address
                    </td>
                    <td width="75%" valign="top"
                      style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 15px; font-weight:500;">
                      <%= candidateInfo[0].currentAddress1 %>
                    </td>
                  </tr>
                  <%}%>
                    <% if(candidateInfo[0].permanantAddress1) { %>
                      <tr>
                        <td width=" 25%" valign="top"
                          style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                          Permanent Address
                        </td>
                        <td width="75%" valign="top"
                          style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 15px; font-weight:500;">
                          <%= candidateInfo[0].permanantAddress1 %>
                        </td>
                      </tr>
                      <%}%>
                        <% if(candidateInfo[0].dob) { %>
                          <tr>
                            <td width="25%" valign="top"
                              style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                              DOB
                            </td>
                            <td width="75%" valign="top"
                              style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 15px; font-weight:500;">
                              <%= candidateInfo[0].dob %>
                            </td>
                          </tr>
                          <%}%>
                            <% if(candidateInfo[0].genderTitle) { %>
                              <tr>
                                <td valign="top"
                                  style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                                  Gender
                                </td>
                                <td valign="top"
                                  style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 15px; font-weight:500;">
                                  <%= candidateInfo[0].genderTitle %>
                                </td>
                              </tr>
                              <%}%>
                                <% if(candidateInfo[0].martialStatusTitle) { %>
                                  <tr>
                                    <td valign="top"
                                      style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                                      Marital Status
                                    </td>
                                    <td valign="top"
                                      style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 15px; font-weight:500;">
                                      <%= candidateInfo[0].martialStatusTitle %>
                                    </td>
                                  </tr>
                                  <%}%>
                                    <% if(candidateInfo[0].countryName) { %>
                                      <tr>
                                        <td valign="top"
                                          style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                                          Country
                                        </td>
                                        <td valign="top"
                                          style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 15px; font-weight:500;">
                                          <%= candidateInfo[0].countryName %>
                                        </td>
                                      </tr>
                                      <%}%>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" style="background:#e2e2e2">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="2"
                    style="font-size:18px ; text-align: left; color:#222222; padding:25px 0px 20px 25px; font-weight:600;">
                    Contact
                  </td>
                </tr>
                <% if(candidateInfo[0].telephoneNumber) { %>
                  <tr>
                    <td width="25%"
                      style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                      <img src="../../../../images/land_phone.png">
                    </td>
                    <td width="75%"
                      style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">
                      <%= candidateInfo[0].telephoneNumber %>
                    </td>
                  </tr>
                  <%}%>
                    <% if(candidateInfo[0].phoneNumber) { %>
                      <tr>
                        <td width="25%"
                          style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:500;">
                          <img src="../../../../images/resume_phone.png">
                        </td>
                        <td width="75%"
                          style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">
                          <%= candidateInfo[0].phoneNumber %>
                        </td>
                      </tr>
                      <%}%>
                        <% if(candidateInfo[0].email) { %>
                          <tr>
                            <td width="25%"
                              style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                              <img src="../../../../images/resume_mail.png">
                            </td>
                            <td width="75%"
                              style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">
                              <%= candidateInfo[0].email %>
                            </td>
                          </tr>
                          <%}%>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" style="background:#e2e2e2">
            </td>
          </tr>
          <tr>
            <td valign="top" style="background:#e2e2e2">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% if(languageMapInfo.length>0) { %>
                  <tr>
                    <td
                      style="font-size:18px ; text-align: left; color:#222222; padding:25px 0px 20px 25px; font-weight:600;">
                      Languages</td>
                  </tr>

                  <% for(var i=0; i < languageMapInfo.length; i +=1) { %>
                    <tr>
                      <td
                        style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 10px 25px; font-weight:500;">
                        <%-languageMapInfo[i].languageName%>
                      </td>

                    </tr>
                    <% } %>
                      <% } %>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" style="background:#e2e2e2">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% if(socialAccountsInfo.length>0) { %>
                  <tr>
                    <td colspan=" 2"
                      style="font-size:18px ; text-align: left; color:#222222; padding:25px 0px 20px 25px; font-weight:600;">
                      Social
                    </td>
                  </tr>
                  <% if(socialAccountsInfo[0].google!=undefined && socialAccountsInfo[0].google) { %>
                    <tr>
                      <td width="25%"
                        style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                        <img src="../../../../images/google.png" width="25px">
                      </td>
                      <td width="75%"
                        style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">
                        <%-socialAccountsInfo[0].google%>
                      </td>
                    </tr>
                    <% } %>
                      <% if(socialAccountsInfo[0].facebooks!=undefined && socialAccountsInfo[0].facebooks) { %>
                        <tr>
                          <td width="25%"
                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:600;">
                            <img src="../../../../images/resume_facebook.png" width="20px">
                          </td>
                          <td width="75%"
                            style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">
                            <%-socialAccountsInfo[0].facebooks%>
                          </td>
                        </tr>
                        <% } %>
                          <% if(socialAccountsInfo[0].twitter!=undefined && socialAccountsInfo[0].twitter) { %>
                            <tr>
                              <td width="25%"
                                style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:500;">
                                <img src="../../../../images/resume_twitter.png" width="20px">
                              </td>
                              <td width="75%"
                                style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">
                                <%-socialAccountsInfo[0].twitter%>
                              </td>
                            </tr>
                            <% } %>
                              <% if(socialAccountsInfo[0].linkedIn!=undefined && socialAccountsInfo[0].linkedIn) { %>
                                <tr>
                                  <td width="25%"
                                    style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 25px; font-weight:500;">
                                    <img src="../../../../images/linkedin.png" width="20px">
                                  </td>
                                  <td width="75%"
                                    style="font-size:14px ; text-align: left; color:#222222; padding:0px 0px 15px 0px; font-weight:500;">
                                    <%-socialAccountsInfo[0].linkedIn%>
                                  </td>
                                </tr>
                                <% } %>
                                  <% } %>
              </table>
            </td>
          </tr>



        </table>
      </td>

      <td width="75%" valign="top"
        style="font-size:14px ; text-align: left; color:#222222; padding:30px; font-weight:500;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="padding:0px 0px 30px 0px;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% if(candidateInfo[0].profileSummary.length>0) { %>
                  <tr>
                    <td valign="top"
                      style="font-size:20px ; text-align: left; background:#f9f9f9; color:#222222; padding:7px 15px 7px 15px; font-weight:500;">
                      Personal Summary
                    </td>
                  </tr>
                  <tr>
                    <td valign="top"
                      style="font-size:12px ; text-align: left;  color:#222222; padding:10px 0px 10px 0px; font-weight:500; line-height:20px;">
                      <%=candidateInfo[0].profileSummary%>
                    </td>
                  </tr>
                  <% } %>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:0px 0px 30px 0px;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% if(experienceInfo.length>0) {%>
                  <tr>
                    <td colspan="2" valign="top"
                      style="font-size:20px ; text-align: left; background:#f9f9f9; color:#222222; padding:7px 15px 7px 15px; font-weight:500;">
                      Experience
                    </td>
                  </tr>
                  <% for(var i=0; i < experienceInfo.length; i +=1) { %>
                    <tr>
                      <td
                        style="font-size:14px ; text-align: left;  color:#4b56c0; padding:15x 0px 10px 0px; font-weight:600; line-height:20px; ">
                        <%-experienceInfo[i].employerName%> - <%-experienceInfo[i].jobRole%>
                      </td>
                      <td
                        style="font-size:13px ; text-align: right;  color:#2d2d2d; padding:15px 0px 10px 0px; font-weight:600; line-height:20px; ">
                        <%-experienceInfo[i].fromDate%> - <% if(experienceInfo[i].currentlyWorkHereFlag==true) {%>
                            Present
                            <%} else {%>
                              <%-experienceInfo[i].toDate%>
                                <%}%>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"
                        style="font-size:14px ; text-align: left;  color:#4b56c0; padding:15x 0px 10px 0px; font-weight:600; line-height:20px; ">

                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"
                        style="font-size:15px ; text-align: left;  color:#222222; padding:0px 0px 10px 0px; font-weight:600; line-height:20px;">
                        Responsibilities
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"
                        style="font-size:12px ; text-align: left;  color:#222222; padding:0px 0px 15px 0px; font-weight:500; line-height:20px; ">
                        <%-experienceInfo[i].responsibilities%>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"
                        style="font-size:15px ; text-align: left;  color:#222222; padding:0px 0px 10px 0px; font-weight:600; line-height:20px;">
                        Achievements
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"
                        style="font-size:12px ; text-align: left;  color:#222222; padding:0px 0px 15px 0px; font-weight:500; line-height:20px; ">
                        <%-experienceInfo[i].achievements%>
                      </td>
                    </tr>

                    <% } %>
                      <% } %>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:0px 0px 30px 0px;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% if(skillsInfo.length>0) { %>
                  <tr>
                    <td colspan="4" valign="top"
                      style="font-size:20px ; text-align: left; background:#f9f9f9; color:#222222; padding:7px 15px 7px 15px; font-weight:500;">
                      Skills</td>
                  </tr>
                  <% for(var i=0; i < skillsInfo.length; i +=1) { %>
                    <%if(i%4==0) {%>
                      <tr>
                        <% } %>
                          <td
                            style="font-size:13px ; text-align: left;  color:#2d2d2d; padding:15px 0px 10px 0px; font-weight:600; line-height:20px; ">
                            <%-skillsInfo[i].skillName%>
                          </td>

                          <%if((i%4==0)&& (i!=0)) {%>
                      </tr>
                      <% } %>
                        <% } %>
                          <% } %>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:0px 0px 30px 0px;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% if(trainingInfo.length>0) { %>
                  <tr>
                    <td colspan="4" valign="top"
                      style="font-size:20px ; text-align: left; background:#f9f9f9; color:#222222; padding:7px 15px 7px 15px; font-weight:500;">
                      Training</td>
                  </tr>
                  <% for(var i=0; i < trainingInfo.length; i +=1) { %>
                    <%if(i%4==0) {%>
                      <tr>
                        <% } %>
                          <td
                            style="font-size:13px ; text-align: left;  color:#2d2d2d; padding:15px 0px 10px 0px; font-weight:600; line-height:20px; ">
                            <%-trainingInfo[i].trainingCertificate%>
                          </td>

                          <%if((i%4==0)&& (i!=0)) {%>
                      </tr>
                      <% } %>
                        <% } %>
                          <% } %>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:0px 0px 0px 0px;">&nbsp;</td>
          </tr>
          <tr>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <% if(educationQualificationInfo.length>0) { %>
                  <tr>
                    <td colspan="3" valign="top"
                      style="font-size:20px ; text-align: left; background:#f9f9f9; color:#222222; padding:7px 15px 7px 15px; font-weight:500;">
                      Education</td>
                  </tr>
                  <% for(var i=0; i < educationQualificationInfo.length; i +=1) { %>
                    <tr>
                      <td
                        style="font-size:14px ; text-align: left;  color:#2d2d2d; padding:15x 0px 10px 0px; font-weight:600; line-height:20px; ">
                        <img src="../../../../images/education_icon.png" width="33" height="24">
                        <%-educationQualificationInfo[i].course%>
                      </td>
                      <td
                        style="font-size:14px ; text-align: left;  color:#2d2d2d; padding:15x 0px 10px 0px; font-weight:600; line-height:20px; ">
                        <img src="../../../../images/univercity_icon.png">
                        <%-educationQualificationInfo[i].university%>
                      </td>
                      <td
                        style="font-size:13px ; text-align: right;  color:#2d2d2d; padding:15px 0px 10px 0px; font-weight:600; line-height:20px; ">
                        <%-educationQualificationInfo[i].qualificationYear%>
                      </td>
                    </tr>
                    <% } %>
                      <% } %>
              </table>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="2" valign="top"
                    style="font-size:20px ; text-align: left; background:#f9f9f9; color:#222222; padding:7px 15px 7px 15px; font-weight:500;">
                    Declaration</td>
                </tr>
                <tr>
                  <td colspan="2"
                    style="font-size:14px ; text-align: left;  color:#2d2d2d; padding:15px 0px 10px 0px; font-weight:500; line-height:20px; ">
                    I hereby declare that the information provided is true and correct. I also understand that
                    any willful dishonesty may render for refusal of this application.</td>
                </tr>
                <tr>
                  <td colspan="2"
                    style="font-size:14px ; text-align: left;  color:#2d2d2d; padding:15px 0px 10px 0px; font-weight:500; line-height:20px; ">
                    &nbsp;</td>
                </tr>
                <tr>
                  <td
                    style="font-size:14px ; text-align: left;  color:#2d2d2d; padding:0px 0px 10px 0px; font-weight:500; line-height:20px; ">
                    Date: <%= moment().format("DD/MM/YYYY")%>
                  </td>
                  <td
                    style="font-size:14px ; text-align: right;  color:#2d2d2d; padding:0px 0px 10px 0px; font-weight:500; line-height:20px; ">
                    Signature</td>
                </tr>

                <tr>
                  <td
                    style="font-size:14px ; text-align: left;  color:#2d2d2d; padding:0px 0px 10px 0px; font-weight:500; line-height:20px; ">

                  </td>
                  <td
                    style="font-size:14px ; text-align: right;  color:#2d2d2d; padding:30px 0px 10px 0px; font-weight:500; line-height:20px; ">
                    <%= candidateInfo[0].firstName %>
                      <%= candidateInfo[0].lastName %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </td>


    </tr>
    <tr>
      <td style="background:#4b56c0; height:50px;"></td>
      <td valign="top" style="font-size:14px ; text-align: right; color:#222222; padding:30px; font-weight:500;">
      </td>
    </tr>
  </table>

  <div style="font-size:14px ;color:#222222; text-align: center;background:#fff;padding-bottom: 10px;">
    Designed with JIT Career's Resume Builder
  </div>

</div>