﻿ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  padding: 10px 25px;
  margin: 00px 15px 0px 0px;
  list-style: none;
  cursor: pointer;
  float: left;
  color: #adadad;
  border: 1px solid #ededed;
  text-transform: none;
  text-align: center;
  border-radius: 52px;
}

.resp-tabs-container {
  padding: 0px;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px 0px 15px 0px;
}

.resp-tab-active {
  border: 1px solid #3b8cfa !important;
  padding: 10px 25px !important;
  color: #fff !important;
  background: #3b8cfa;
}

.resp-tab-active {
  border-bottom: none;
}

.resp-content-active,
.resp-accordion-active {
  display: block;
}

.resp-tab-content {
  border: 0px solid #c1c1c1;
}

h2.resp-accordion {
  font-size: 12px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 0px solid #c1c1c1;
  float: right;
  width: 67%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content {
  border: none;
}

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9b9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
  background: #dbdbdb !important;
}
.resp-easy-accordion h2.resp-accordion {
  display: block;
}
.resp-easy-accordion .resp-tab-content {
  border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active {
  display: block;
}

h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
/*@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
*/

.resp-tabs {
  border-radius: 15px !important;
  background: #fff;
}

.resp-tabs li {
  border-radius: 15px !important;
  background: #fff;
  margin: 00px 10px 0px 10px;
  padding: 10px 25px 10px 25px;
  font-size: 15px;
}

.resp-tabs .resp-tab-active {
  border: 1px solid #4b56c0 !important;
  padding: 10px 25px 10px 25px !important;
  color: #fff !important;
  background: #4b56c0;
}

@media only screen and (max-width: 767px) {
  .resp-tabs li {
    width: 42% !important;
    padding: 7px 0px 7px 0px;
    font-size: 13px;
  }
  .resp-tabs .resp-tab-active {
    padding: 7px 0px 7px 0px !important;
  }
}

.profile-tabs {
  border-radius: 0px !important;
  background: #fff;
  width: 100%;
  display: inline-block;
  box-shadow: 0px 0px 7px #eaeaea;
}

.profile-tabs li {
  color: #606060 !important;
  border-radius: 0px !important;
  background: none;
  margin: 00px 0px 0px 0px;
  padding: 15px 0px 15px 0px;
  font-size: 16px;
  border: 0px;
  font-weight: normal;
  width: 14%;
  text-align: center;
}
.profile-tabs li:hover {
  border: 0px !important;
  border-bottom: 3px solid #11b719 !important;
  padding: 15px 0px 15px 0px !important;
  color: #11b719 !important;
  background: none;
}

.profile-tabs .resp-tab-active {
  border: 0px !important;
  border-bottom: 3px solid #11b719 !important;
  padding: 15px 0px 15px 0px !important;
  color: #11b719 !important;
  background: none;
}
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 900px) {
  .pfofile_tab_sec ul.resp-tabs-list {
    display: none;
  }

  .pfofile_tab_sec h2.resp-accordion {
    display: block;
  }

  .pfofile_tab_sec .resp-vtabs .resp-tab-content {
    border: 1px solid #c1c1c1;
  }

  .pfofile_tab_sec .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: initial;
    clear: none;
  }
  .pfofile_tab_sec .resp-accordion-closed {
    display: none !important;
  }
  .pfofile_tab_sec .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }
  .resp-tab-contents {
    padding: 15px 15px 15px 15px;
  }
  .pfofile_tab_sec h2.resp-accordion {
    font-size: 16px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
  }

  h2.resp-tab-active {
    background: #11b719 !important;
  }
}

.attach-tabs {
  border-radius: 0px !important;
  width: 100%;
  display: inline-block;
}

.attach-tabs li {
  color: #606060 !important;
  border-radius: 0px !important;
  background: none;
  margin: 00px 3px 0px 0px;
  padding: 15px 15px 15px 15px;
  font-size: 16px;
  border: 0px;
  font-weight: normal;
  text-align: center;
  background: #f5f5f5;
}
.attach-tabs li:hover {
  border: 0px !important;
  border-bottom: 3px solid #11b719 !important;
  padding: 15px 15px 15px 15px !important;
  color: #11b719 !important;
  background: none;
}

.attach-tabs .resp-tab-active {
  border: 0px !important;
  border-bottom: 3px solid #11b719 !important;
  padding: 15px 15px 15px 15px !important;
  color: #11b719 !important;
  background: none;
}

.attach-tabs1 {
  border-radius: 0px !important;
  background: #fff;
  width: 100%;
  display: inline-block;
  box-shadow: 0px 0px 7px #eaeaea;
}

.attach-tabs1 li {
  color: #606060 !important;
  border-radius: 0px !important;
  background: none;
  margin: 00px 0px 0px 0px;
  padding: 15px 0px 15px 0px;
  font-size: 16px;
  border: 0px;
  font-weight: normal;
  text-align: center;
}
.attach-tabs1 li:hover {
  border: 0px !important;
  border-bottom: 3px solid #11b719 !important;
  padding: 15px 0px 15px 0px !important;
  color: #11b719 !important;
  background: none;
}

.attach-tabs1 .resp-tab-active {
  border: 0px !important;
  border-bottom: 3px solid #11b719 !important;
  padding: 15px 0px 15px 0px !important;
  color: #11b719 !important;
  background: none;
}

.resp-tab-contents {
  border: 0px solid #c1c1c1;
  background: #fff;
  width: 100%;
  padding: 0px 15px 15px 15px;
  margin: 0px 0px 15px 0px;
  box-shadow: 0px 0px 7px #eaeaea;
  border-radius: 12px;
  display: inline-block;
}

.jobsearch-tabs {
  border-radius: 0px !important;
  background: #fff;
  width: 100%;
  display: inline-block;
  box-shadow: 0px 0px 7px #eaeaea;
}
.jobsearch-tabs .resp-tabs-list li {
  padding: 15px 15px !important;
  margin: 0px 0px 15px 0px;
  cursor: pointer;
  float: none;
  width: 100%;
  display: inline-block;
}

.jobsearch-tabs li {
  color: #656565;
  border-radius: 10px;
  border: 0px !important;
  margin: 00px 0px 15px 0px;
  padding: 14px 15px 15px 14px;
  font-size: 16px;
  border: 0px;
  font-weight: normal;
  width: 100%;
  display: inline-block;
  text-align: left;
  background: #fff;
}
.jobsearch-tabs li:hover {
  color: #fff !important;
  border-bottom: 0px solid #11b719 !important;
  padding: 14px 15px 15px 14px !important;
  background: #4b56c0;
}

.jobsearch-tabs li.resp-tab-active {
  color: #fff !important;
  border: 0px solid #c1c1c1;
  border-right: none;
  background-color: #4b56c0;
  position: relative;
  z-index: 1;
  margin-right: 0px !important;
  padding: 14px 15px 15px 14px !important;
  width: 100%;
  display: inline-block;
}

.resp-tab-content {
  padding: 0px 0px 0px 0px !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 900px) {
  .jobsearch-tabs ul.resp-tabs-list {
    display: none;
  }

  .jobsearch-tabs h2.resp-accordion {
    display: block;
  }

  .jobsearch-tabs .resp-vtabs .resp-tab-content {
    border: 1px solid #c1c1c1;
  }

  .jobsearch-tabs .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: initial;
    clear: none;
  }
  .jobsearch-tabs .resp-accordion-closed {
    display: none !important;
  }
  .jobsearch-tabs .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }
  .resp-tab-contents {
    padding: 15px 15px 15px 15px;
  }
  .jobsearch-tabs h2.resp-accordion {
    font-size: 16px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
  }

  h2.resp-tab-active {
    background: #11b719 !important;
  }
}



.help-tabs {
  border-radius: 0px !important; 
  width: 100%;
  display: inline-block;
  margin:0px 0px 25px 0px !important;
}

.help-tabs li {
  color: #606060 !important;
  border-radius: 15px !important;
  background: #000;
  margin: 00px 15px 0px 15px;
  padding: 15px 15px 15px 15px;
  font-size: 16px;
  border: 0px;
  font-weight: 600 !important;
  width: 30.5%;
  text-align: left; 
}
.help-tabs li:hover {
  border: 0px !important;
  border-bottom: 3px solid #11b719 !important;
  padding: 15px 15px 15px 15px !important;
  color: #11b719 !important;
  background: none;
}

.help-tabs .resp-tab-active {
  border: 0px !important;
  border-bottom: 3px solid #11b719 !important;
  padding: 15px 15px 15px 15px !important;
  color: #000 !important;
  background: none;
}

.help-tabs-clr1{ background:#fef7ed !important;}
.help-tabs-clr2{ background:#f4e9ff !important;}
.help-tabs-clr3{ background:#fff6fb !important;}

.help-tabs li img { margin:0px 15px 0px 0px; 
}

.help-tabs_sec .resp-tab-content {
  padding: 15px 0px 0px 0px !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 900px) {
  .help-tabs_sec ul.resp-tabs-list {
    display: none;
  }

  .help-tabs_sec h2.resp-accordion {
    display: block;
  }

  .pfofile_tab_sec .resp-vtabs .resp-tab-content {
    border: 1px solid #c1c1c1;
  }

  .help-tabs_sec .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: initial;
    clear: none;
  }
  .help-tabs_sec .resp-accordion-closed {
    display: none !important;
  }
  .help-tabs_sec .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }
  .resp-tab-contents {
    padding: 15px 15px 15px 15px;
  }
  .help-tabs_sec h2.resp-accordion {
    font-size: 16px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
	    text-align: left;
  }

  h2.resp-tab-active {
    background: #11b719 !important;
  }
 .help-tabs_sec  .resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 23px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}
}


@media only screen and (max-width: 900px) {
.resp-tab-content {
    padding: 10px !important;
    box-shadow: 0px 0px 6px #f3f3f3;
}
}
