/*********************** Style Pure css Start***************************/

.example {
  margin-bottom: 1.5em;
}

input[type="checkbox"]:not(old),
input[type="radio"]:not(old) {
  margin: 0px 0px 0px 0px;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

input[type="checkbox"]:not(old) + label,
input[type="radio"]:not(old) + label {
  display: inline-block;
  margin-left: -17px;
  line-height: 31px;
  color: #888888;
  font-size: 12px !important;
  font-weight: 600;
  /* font-family: */
}

input[type="checkbox"]:not(old) + label > span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0.25em 0.5em 0.25em 0px;
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  background: none;
  vertical-align: bottom;
}

input[type="radio"]:not(old) + label > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 2px solid #17ca13;
  border-radius: 50%;
  background: none;
  vertical-align: bottom;
}

input[type="checkbox"]:not(old):checked + label > span,
input[type="radio"]:not(old):checked + label > span {
  background: #17a937;
  border: 2px solid #17a937;
}

input[type="checkbox"]:not(old):checked + label > span:before {
  content: "✓";
  display: block;
  width: 1em;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
}

input[type="radio"]:not(old):checked + label > span > span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 2px solid #90ee90;
  border-radius: 50%;
  background: #17ca13;
  background-image: -moz-linear-gradient(
    rgb(179, 217, 140),
    rgb(153, 204, 102)
  );
  background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
  background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
  background-image: -webkit-linear-gradient(
    rgb(179, 217, 140),
    rgb(153, 204, 102)
  );
  background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}

@media only screen and (max-width: 767px) {
  input[type="checkbox"]:not(old) + label,
  input[type="radio"]:not(old) + label {
    font-size: 11px !important;
  }
}

.example {
  margin-bottom: 1.5em;
}

.content-wrapper input[type="checkbox"]:not(old),
.content-wrapper input[type="radio"]:not(old) {
  margin: 0px 0px 0px 0px;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

.content-wrapper input[type="checkbox"]:not(old) + label,
.content-wrapper input[type="radio"]:not(old) + label {
  display: inline-block;
  margin-left: -17px;
  line-height: 31px;
  color: #2d2d2d;
  font-size: 17px !important;
  font-weight: 500;
  text-transform: none;
}

.content-wrapper input[type="checkbox"]:not(old) + label > span {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 0.25em 0.5em 0.25em 0px;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
  background: none;
  vertical-align: bottom;
  background: #fafafb;
}

.content-wrapper input[type="radio"]:not(old) + label > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 2px solid #17ca13;
  border-radius: 50%;
  background: none;
  vertical-align: bottom;
}

.content-wrapper input[type="checkbox"]:not(old):checked + label > span,
.content-wrapper input[type="radio"]:not(old):checked + label > span {
  background: #17a937;
  border: 2px solid #17a937;
}

.content-wrapper input[type="checkbox"]:not(old):checked + label > span:before {
  content: "✓";
  display: block;
  width: 1em;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
}

.content-wrapper input[type="radio"]:not(old):checked + label > span > span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 2px solid #90ee90;
  border-radius: 50%;
  background: #17ca13;
  background-image: -moz-linear-gradient(
    rgb(179, 217, 140),
    rgb(153, 204, 102)
  );
  background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
  background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
  background-image: -webkit-linear-gradient(
    rgb(179, 217, 140),
    rgb(153, 204, 102)
  );
  background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}

.accordian_tab input[type="checkbox"]:not(old),
.accordian_tab input[type="radio"]:not(old) {
  margin: 0px 0px 0px 0px;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

.accordian_tab input[type="checkbox"]:not(old) + label,
.accordian_tab input[type="radio"]:not(old) + label {
  display: inline-block;
  margin-left: -17px;
  line-height: 31px;
  color: #656565;
  font-size: 16px !important;
  font-weight: 500;
  text-transform: none;
}

.accordian_tab input[type="checkbox"]:not(old) + label > span {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 0.25em 0.5em 0.25em 0px;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
  background: none;
  vertical-align: bottom;
  background: #fafafb;
}

.accordian_tab input[type="radio"]:not(old) + label > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 2px solid #dfdfdf;
  border-radius: 50%;
  background: none;
  vertical-align: bottom;
}

.accordian_tab input[type="checkbox"]:not(old):checked + label > span,
.accordian_tab input[type="radio"]:not(old):checked + label > span {
  background: #17a937;
  border: 2px solid #17ca13;
}

.accordian_tab input[type="checkbox"]:not(old):checked + label > span:before {
  content: "✓";
  display: block;
  width: 1em;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
}

.accordian_tab input[type="radio"]:not(old):checked + label > span > span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 2px solid #90ee90;
  border-radius: 50%;
  background: #b5b5be;
  background-image: -moz-linear-gradient(
    rgb(179, 217, 140),
    rgb(153, 204, 102)
  );
  background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
  background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
  background-image: -webkit-linear-gradient(
    rgb(179, 217, 140),
    rgb(153, 204, 102)
  );
  background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}

@media only screen and (max-width: 767px) {
  .content-wrapper input[type="checkbox"]:not(old) + label,
  input[type="radio"]:not(old) + label {
    font-size: 11px !important;
  }
}

/*********************** Style Pure css End***************************/

/*********************** uploading Start***************************/

#file-1 {
  position: absolute;
  z-index: -1;
  display: none;
}

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 100%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

/* style 1 */

.inputfile-1 + label {
  color: #fff;
  background-color: #09f;
  padding: 10px 0px !important;
  width: 100%;
  text-align: center;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #17ca13;
}

/* style 2 */

.inputfile-2 + label {
  color: #d3394c;
  border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
  color: #722040;
}

/* style 3 */

.inputfile-3 + label {
  color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
  color: #722040;
}

/* style 4 */

.inputfile-4 + label {
  color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
  color: #722040;
}

.inputfile-4 + label figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d3394c;
  display: block;
  padding: 20px;
  margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
  background-color: #722040;
}

.inputfile-4 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}

/* style 5 */

.inputfile-5 + label {
  color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
  color: #722040;
}

.inputfile-5 + label figure {
  width: 100px;
  height: 135px;
  background-color: #d3394c;
  display: block;
  position: relative;
  padding: 30px;
  margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
  background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}

.inputfile-5 + label figure::before {
  border-top: 20px solid #dfc8ca;
  border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
  border-bottom: 20px solid #722040;
  border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
  border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}

/* style 6 */

.inputfile-6 + label {
  color: #d3394c;
}

.inputfile-6 + label {
  border: 1px solid #d3394c;
  background-color: #f1e5e6;
  padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
  border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.inputfile-6 + label span {
  width: 200px;
  min-height: 2em;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

.inputfile-6 + label strong {
  height: 100%;
  color: #f1e5e6;
  background-color: #d3394c;
  display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
  background-color: #722040;
}

@media screen and (max-width: 50em) {
  .inputfile-6 + label strong {
    display: block;
  }
}

/*********************** uploading Start***************************/

/*********************** list Start***************************/

/* Container used for styling the custom select, the buttom class adds the bg gradient, corners, etc. */
.dropdown {
  position: relative;
  display: block;
  margin-top: 0.5em;
  padding: 0;
}

/* This is the native select, we're making everything the text invisible so we can see the button styles in the wrapper */
.dropdown select {
  width: 100%;
  margin: 0;
  background: none;
  border: 1px solid transparent;
  outline: none;
  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  /* Magic font size number to prevent iOS text zoom */
  font-size: 1.25em;
  /* General select styles: change as needed */
  /* font-weight: bold; */
  color: #444;
  padding: 0.6em 1.9em 0.5em 0.8em;
  line-height: 1.3;
}
.dropdown select,
label {
  font-family: AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande",
    "Trebuchet Ms", sans-serif;
}

/* Custom arrow sits on top of the select - could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select */

.dropdown::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 8px;
  top: 50%;
  right: 1em;
  margin-top: -4px;
  z-index: 2;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E")
    0 0 no-repeat;
  /* These hacks make the select behind the arrow clickable in some browsers */
  pointer-events: none;
}

/* This hides native dropdown button arrow in IE 10/11+ so it will have the custom appearance, IE 9 and earlier get a native select */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .dropdown select::-ms-expand {
    display: none;
  }
  /* Removes the odd blue bg color behind the text in IE 10/11 and sets the text to match the focus style text */
  select:focus::-ms-value {
    background: transparent;
    color: #222;
  }
}

/* Firefox >= 2 -- Older versions of FF (v2 - 6) won't let us hide the native select arrow, so we'll just hide the custom icon and go with native styling */
/* Show only the native arrow */
body:last-child .dropdown::after,
x:-moz-any-link {
  display: none;
}
/* reduce padding */
body:last-child .dropdown select,
x:-moz-any-link {
  padding-right: 0.8em;
}

/* Firefox 7+ -- Will let us hide the arrow, but inconsistently (see FF 30 comment below). We've found the simplest way to hide the native styling in FF is to make the select bigger than its container. */
/* The specific FF selector used below successfully overrides the previous rule that turns off the custom icon; other FF hacky selectors we tried, like `*>.dropdown::after`, did not undo the previous rule */

/* Set overflow:hidden on the wrapper to clip the native select's arrow, this clips hte outline too so focus styles are less than ideal in FF */
_::-moz-progress-bar,
body:last-child .dropdown {
  overflow: hidden;
}
/* Show only the custom icon */
_::-moz-progress-bar,
body:last-child .dropdown:after {
  display: block;
}
_::-moz-progress-bar,
body:last-child .dropdown select {
  /* increase padding to make room for menu icon */
  padding-right: 1.9em;
  /* `window` appearance with these text-indent and text-overflow values will hide the arrow FF up to v30 */
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: "";
  /* for FF 30+ on Windows 8, we need to make the select a bit longer to hide the native arrow */
  width: 110%;
}

/* At first we tried the following rule to hide the native select arrow in Firefox 30+ in Windows 8, but we'd rather simplify the CSS and widen the select for all versions of FF since this is a recurring issue in that browser */
/* @supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {
.dropdown select { width:110%; }
}   */

/* Firefox 7+ focus style - This works around the issue that -moz-appearance: window kills the normal select focus. Using semi-opaque because outline doesn't handle rounded corners */
_::-moz-progress-bar,
body:last-child .dropdown select:focus {
  outline: 2px solid rgba(180, 222, 250, 0.7);
}

/* Opera - Pre-Blink nix the custom arrow, go with a native select button */
x:-o-prefocus,
.dropdown::after {
  display: none;
}

/* Hover style */
.dropdown:hover {
  border: 1px solid #888;
}

/* Focus style */
select:focus {
  outline: none;
  box-shadow: 0 0 1px 3px rgba(180, 222, 250, 1);
  background-color: transparent;
  color: #222;
  border: 1px solid #aaa;
}

/* Firefox focus has odd artifacts around the text, this kills that */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

option {
  font-weight: normal;
}

/* These are just demo button-y styles, style as you like */
.button {
  border: 1px solid #bbb;
  border-radius: 0.3em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ffffff)
  );
  /* color-stop(100%,#e5e5e5)); Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #e5e5e5 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #ffffff 0%,
    #e5e5e5 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
}

.output {
  margin: 0 auto;
  padding: 0em;
}
.colors {
  padding: 0px;
  color: #000;
  display: none;
}
.red {
  background: #c04;
}
.yellow {
  color: #000;
  background: #f5e000;
}
.blue {
  background: #079;
}
footer {
  margin: 5em auto 3em;
  padding: 2em 2.5%;
  text-align: center;
}

/*********************** list End***************************/

/*********************** pickday Start***************************/

/* @charset "UTF-8"; */

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
  content: " ";
  display: table;
}
.pika-single:after {
  clear: both;
}
.pika-single {
  *zoom: 1;
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}

.pika-title {
  position: relative;
  text-align: center;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff;
}
.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: 0.5;
  *position: absolute;
  *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: 0.2;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0;
}

.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  color: #33aaff;
  font-weight: bold;
}

.is-selected .pika-button {
  color: #fff;
  font-weight: bold;
  background: #33aaff;
  box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px;
}

.is-inrange .pika-button {
  background: #d5e9f7;
}

.is-startrange .pika-button {
  color: #fff;
  background: #6cb31d;
  box-shadow: none;
  border-radius: 3px;
}

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
  border-radius: 3px;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: 0.3;
}

.pika-button:hover {
  color: #fff;
  background: #ff8000;
  box-shadow: none;
  border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help;
}

/*********************** pickday End***************************/

/*********************** Tabs Start***************************/

.carbon-poweredby,
em,
i {
  font-style: italic;
}

.o-container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 960px;
}

@media all and (min-width: 480px) {
  .o-container {
    padding: 0 24px;
  }
}

@media all and (min-width: 720px) {
  .o-container {
    padding: 0 48px;
  }
}

.o-header {
  margin: 0;
  padding: 0;
}

.o-header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #dc446e;
}

.o-header-nav__link {
  padding: 12px;
  color: #fff;
}

.o-header-nav__link:hover {
  color: #fff;
  background-color: #9d1d41;
}

.o-header__title {
  margin: 24px;
  padding: 0;
  color: #818181;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

@media all and (min-width: 480px) {
  .o-header__title {
    margin: 36px;
    font-size: 42px;
  }
}

.o-section {
  margin-bottom: 24px;
}

.o-section:last-child {
  margin-bottom: 0;
}

@media all and (min-width: 720px) {
  .o-section {
    margin-bottom: 48px;
  }
}

.o-sub-nav {
  margin: 0;
  padding: 0;
}

.o-sub-nav__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-sub-nav__item {
  margin: 0;
  padding: 4px;
}

.o-sub-nav__link {
  display: block;
  margin: 0;
  padding: 4px 24px;
  border: 2px solid #dc446e;
}

.o-sub-nav__item.active .o-sub-nav__link,
.o-sub-nav__link:hover {
  color: #fff;
  background-color: #dc446e;
}

.o-footer {
  padding: 12px 0;
  text-align: center;
}

@media all and (min-width: 480px) {
  .o-footer {
    padding: 24px 0;
  }
}

@media all and (min-width: 720px) {
  .o-footer {
    padding: 48px 0;
  }
}

.c-tabs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-tabs-nav__link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 4px;
  padding: 12px;
  color: #bcbcbc;
  background-color: #f6f6f6;
  text-align: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 15px;
}

.c-tabs-nav__link:last-child {
  margin-right: 0;
}

.c-tabs-nav__link:hover {
  color: #26b400;
}

.c-tabs-nav__link.is-active {
  color: #fff;
  background-color: #26b400;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
}

.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}

.c-tab {
  display: none;
  background-color: #fff;
}

.c-tab.is-active {
  display: block;
}

.c-tab__content {
  padding: 1.5rem;
}

.c-tabs.no-js .c-tabs-nav {
  display: none;
}

.c-tabs.no-js .c-tab {
  display: block;
  margin-bottom: 1.5rem;
}

.c-tabs.no-js .c-tab:last-child {
  margin-bottom: 0;
}

.carbon-img,
.carbon-wrap {
  margin: 0 0 4px;
  display: block;
}

#carbonads {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 1000;
  padding: 24px 12px 12px;
  width: 154px;
  background-color: #fff;
  line-height: 1.1;
  border: 1px solid #e7e7e7;
}

.carbon-img {
  padding: 0;
  width: 130px;
  height: 100px;
}

.carbon-text {
  color: #818181;
  font-size: 12px;
}

.carbon-poweredby {
  font-size: 10px;
}

.carbonad__close {
  display: block;
  position: absolute;
  top: 0;
  left: 12px;
  height: 24px;
  font-size: 11px;
  /* line-heigh */
}

.tabs_cat {
  text-align: left !important;
  margin: 0px;
  background: #e7f8e8;
  color: #2d2d2d;
  font-weight: 600;
}
.c-tabs-nav1 {
  background: #e7f8e8 !important;
}
.c-tab__content1 {
  padding: 15px 0px 0px 0px !important;
}
@media only screen and (max-width: 767px) {
  .c-tabs-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .tabs_cat {
    text-align: left !important;
    margin: 0px;
    background: #e7f8e8;
    color: #2d2d2d;
    font-weight: 600;
    width: 50%;
    float: left;
    font-size: 12px;
  }

  .tabs_cat img {
    width: 25px;
  }
}

/*********************** Tabs End***************************/

.select-wrapper {
  margin: auto;
  max-width: 600 px;
  width: calc(100% - 40px);
}

.select-pure__select {
  align-items: center;
  background: #fcfdff;
  border-radius: 4px;
  border: 1px solid #dde6ef;
  color: #363b3e;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  justify-content: left;
  height: 40px;
  padding: 5px 10px;
  position: relative;
  transition: 0.2s;
  width: 100%;
}

.select-pure__options {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  color: #363b3e;
  display: none;
  left: 0;
  max-height: 221px;
  overflow-y: scroll;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 5;
}

.select-pure__select--opened .select-pure__options {
  display: block;
}

.select-pure__option {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
  height: 44px;
  line-height: 25px;
  padding: 10px;
}

.select-pure__option--disabled {
  color: #e4e4e4;
}

.select-pure__option--selected {
  color: #e4e4e4;
  cursor: initial;
  pointer-events: none;
}

.select-pure__option--hidden {
  display: none;
}

.select-pure__selected-label {
  align-items: "center";
  background: #02b208;
  border-radius: 4px;
  color: #fff;
  cursor: initial;
  display: inline-flex;
  justify-content: "center";
  margin: 5px 3px 5px 0;
  padding: 3px 4px;
}

.select-pure__selected-label:last-of-type {
  margin-right: 0;
}

.select-pure__selected-label i {
  cursor: pointer;
  display: inline-block;
  margin-left: 7px;
}

.select-pure__selected-label img {
  cursor: pointer;
  display: inline-block;
  height: 18px;
  margin-left: 3px;
  width: 10px;
}

.select-pure__selected-label i:hover {
  color: #e4e4e4;
}

.select-pure__autocomplete {
  background: #f9f9f8;
  border-bottom: 1px solid #e4e4e4;
  border-left: none;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.select-pure__placeholder--hidden {
  display: none;
}

/****************Accrodian Tab Start*****************/
.accordian_tab {
  margin: 20px 0px;
  width: 100%;
  padding: 0px;
}

.accordian_tab h1 {
  list-style: none;
  padding: 6px 0px 6px 0px;
  margin: 0px 0px 1px 0px;
  font-size: 16px;
}
.accordian_tab h1:hover {
  list-style: none;
  color: #4b56c0;
}
.accordian_cont {
  padding: 0px;
  margin: 20px;
}

.accordian_tab .active {
  color: #545454;
  padding: 0px 0px 0px 0px;
}

.acc_con {
  display: none;
  color: #545454;
  padding: 0px;
  margin: 5px 0px 5px 0px;
}

.arrow {
  border: solid #4b56c0;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  float: right;
  margin: 12px 0px 0px 0px;
}

.active .arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.accordian_help_tab {
  margin: 20px 0px;
  width: 100%;
  padding: 0px;
}

.accordian_help_tab h1 {
  list-style: none;
  padding: 8px 0px 8px 0px;
  margin: 0px 0px 1px 0px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #e7f8e8;
}
.accordian_help_tab h1:hover {
  list-style: none;
  color: #4b56c0;
}
.accordian_cont_help {
  padding: 0px;
  margin: 20px;
}

.accordian_help_tab .active_help {
  color: #545454;
  padding: 8px 0px 8px 0px;
}

.acc_con_help {
  display: none;
  color: #545454;
  padding: 0px;
  margin: 15px 0px 15px 0px;
}

.arrow_help {
  border: solid #4b56c0;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  float: right;
  margin: 12px 0px 0px 0px;
}

.active_help .arrow_help {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/****************Accrodian Tab End*****************/

.tab_main {
  padding: 15px 0px 0px 0px;
}
.tab_help {
  display: flex;
  margin: 0px 0px;
  padding: 0px;
  background: #e7f8e8;
}

.tab_help li {
  list-style: none;
  padding: 10px 20px 10px 20px;
  width: 20%;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 3px solid #e7f8e8;
}
.tab_help li:hover {
  background: none;
  color: #404041;
  border-radius: 0px;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #11b719;
}

.tab_container {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 15px 0px 0px 0px;
}
.tab_container div {
  display: none;
}
.tab_help .active {
  background: none;
  color: #404041;
  border-radius: 0px;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #11b719;
}

.tab_help img {
  margin: 0px 10px 0px 0px;
}

@media only screen and (max-width: 767px) {
  .tab_help {
    display: block;
  }
  .tab_help li {
    width: 50%;
    float: left;
  }
}

/****************Scroll Bar End*****************/
.jobs_searh {
  overflow: auto;
  height: 890px;
}
#jobs_searh1 {
  overflow: auto;
  height: 890px;
}
.jobs_alert_scroll {
  overflow: auto;
  height: 230px;
}
.dash_noti_scroll {
  overflow: auto;
  height: 230px;
}
.dash_message_scroll {
  overflow: auto;
  height: 230px;
}
.jobapplied_scroll {
  overflow: auto;
  height: 690px;
  padding: 10px 0px 5px 0px;
}
.suggested_job_scroll {
  overflow: auto;
  height: 300px;
}
.suggested_title_scroll {
  overflow: auto;
  height: 270px;
}

.message_chat_scroll {
  overflow: auto;
  height: 720px;
}
.message_chat_des_scroll {
  overflow: auto;
  height: 640px;
}

@media only screen and (max-width: 1440px) {
  .message_chat_scroll {
    overflow: auto;
    height: 520px;
  }
  .message_chat_des_scroll {
    overflow: auto;
    height: 440px;
  }
}

@media only screen and (max-width: 900px) {
  .jobs_searh {
    overflow: scroll;
  }

  #jobs_searh1 {
    overflow: scroll;
  }

  .jobs_alert_scroll {
    overflow: scroll;
  }
}

/****************Scroll Bar End*****************/

.upload_box {
  width: 76% !important;
  float: left;
  margin-bottom: 20px;
}
.upload_box_form {
  border-radius: 4px 0px 0px 4px !important;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 0px;
  padding: 7px 25px 6px 25px !important;
  border-radius: 0px 4px 4px 0px !important;
  background: #11b719 !important;
  border: 1px solid #11b719 !important;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.more_button {
  background-color: #17ca13 !important;
  padding: 6px 8px !important;
  margin: 16px 0px 0px 80px;
  width: 90px;
  color: #fff;
  font-weight: 600;
  border: 0px solid #3b8cfa;
  font-size: 12px !important;
}

#more {
  display: none;
}
#more1 {
  display: none;
}
#more2 {
  display: none;
}
#more3 {
  display: none;
}

.inputfile-101 + label {
  color: #fff;
  background-color: #b0b5b8;
  padding: 10px 0px !important;
  width: 100%;
  text-align: center;
}

.inputfile-101 + label:hover {
  background-color: #b0b5b8;
}
