 
body {
    margin: 0;
}

.menu_main{position:fixed;  height:100%; z-index:900; width:250px;   } 
.nav_pad{ padding-bottom:120px !important;}

 
a{ text-decoration:none;}   
a:hover{ text-decoration:none;}  
 
.nav_side {
    padding-left: 20px;
    margin-bottom: 0;
    list-style: none;
}
.nav_side>li {
    position: relative;
    display: block;
}
.nav_side>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav_side>li>a:hover,
.nav_side>li>a:focus {
    text-decoration: none;
    background-color: #eee;
}
.nav_side>li.disabled>a {
    color: #999;
}
.nav_side>li.disabled>a:hover,
.nav_side>li.disabled>a:focus {
    color: #999;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.nav_side .open>a,
.nav_side .open>a:hover,
.nav_side .open>a:focus {
    background-color: #eee;
    border-color: #428bca;
}
.nav_side .nav_side-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.nav_side>li>a>img {
    max-width: none;
}
.nav_side-tabs {
    border-bottom: 1px solid #ddd;
}
.nav_side-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav_side-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav_side-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}
.nav_side-tabs>li.active>a,
.nav_side-tabs>li.active>a:hover,
.nav_side-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav_side-tabs.nav_side-justified {
    width: 100%;
    border-bottom: 0;
}
.nav_side-tabs.nav_side-justified>li {
    float: none;
}
.nav_side-tabs.nav_side-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
}
.nav_side-tabs.nav_side-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav_side-tabs.nav_side-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav_side-tabs.nav_side-justified>li>a {
        margin-bottom: 0;
    }
}
.nav_side-tabs.nav_side-justified>li>a {
    margin-right: 0;
    border-radius: 4px;
}
.nav_side-tabs.nav_side-justified>.active>a,
.nav_side-tabs.nav_side-justified>.active>a:hover,
.nav_side-tabs.nav_side-justified>.active>a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .nav_side-tabs.nav_side-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav_side-tabs.nav_side-justified>.active>a,
    .nav_side-tabs.nav_side-justified>.active>a:hover,
    .nav_side-tabs.nav_side-justified>.active>a:focus {
        border-bottom-color: #fff;
    }
}
.nav_side-pills>li {
    float: left;
}
.nav_side-pills>li>a {
    border-radius: 4px;
}
.nav_side-pills>li+li {
    margin-left: 2px;
}
.nav_side-pills>li.active>a,
.nav_side-pills>li.active>a:hover,
.nav_side-pills>li.active>a:focus {
    color: #fff;
    background-color: #428bca;
}
.nav_side-stacked>li {
    float: none;
}
.nav_side-stacked>li+li {
    margin-top: 2px;
    margin-left: 0;
}
.nav_side-justified {
    width: 100%;
}
.nav_side-justified>li {
    float: none;
}
.nav_side-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
}
.nav_side-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav_side-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav_side-justified>li>a {
        margin-bottom: 0;
    }
}
.nav_side-tabs-justified {
    border-bottom: 0;
}
.nav_side-tabs-justified>li>a {
    margin-right: 0;
    border-radius: 4px;
}
.nav_side-tabs-justified>.active>a,
.nav_side-tabs-justified>.active>a:hover,
.nav_side-tabs-justified>.active>a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .nav_side-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav_side-tabs-justified>.active>a,
    .nav_side-tabs-justified>.active>a:hover,
    .nav_side-tabs-justified>.active>a:focus {
        border-bottom-color: #fff;
    }
}
.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block;
}
.nav_side-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav_sidebar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
@media (min-width: 768px) {
    .nav_sidebar {
        border-radius: 4px;
    }
}
@media (min-width: 768px) {
    .nav_sidebar-header {
        float: left;
    }
}
.nav_sidebar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.nav_sidebar-collapse.in {
    overflow-y: auto;
}
@media (min-width: 768px) {
    .nav_sidebar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .nav_sidebar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .nav_sidebar-collapse.in {
        overflow-y: visible;
    }
    .nav_sidebar-fixed-top .nav_sidebar-collapse,
    .nav_sidebar-static-top .nav_sidebar-collapse,
    .nav_sidebar-fixed-bottom .nav_sidebar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}
.container>.nav_sidebar-header,
.container-fluid>.nav_sidebar-header,
.container>.nav_sidebar-collapse,
.container-fluid>.nav_sidebar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .container > .nav_sidebar-header,
    .container-fluid > .nav_sidebar-header,
    .container > .nav_sidebar-collapse,
    .container-fluid > .nav_sidebar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}
.nav_sidebar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
@media (min-width: 768px) {
    .nav_sidebar-static-top {
        border-radius: 0;
    }
}
.nav_sidebar-fixed-top,
.nav_sidebar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px) {
    .nav_sidebar-fixed-top,
    .nav_sidebar-fixed-bottom {
        border-radius: 0;
    }
}
.nav_sidebar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.nav_sidebar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}
.nav_sidebar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.nav_sidebar-brand:hover,
.nav_sidebar-brand:focus {
    text-decoration: none;
}
@media (min-width: 768px) {
    .nav_sidebar > .container .nav_sidebar-brand,
    .nav_sidebar > .container-fluid .nav_sidebar-brand {
        margin-left: -15px;
    }
}
.nav_sidebar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.nav_sidebar-toggle:focus {
    outline: none;
}
.nav_sidebar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.nav_sidebar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px) {
    .nav_sidebar-toggle {
        display: none;
    }
}
.nav_sidebar-nav_side {
    margin: 7.5px -15px;
}
.nav_sidebar-nav_side>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
@media (max-width: 767px) {
    .nav_sidebar-nav_side .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .nav_sidebar-nav_side .open .dropdown-menu>li>a,
    .nav_sidebar-nav_side .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .nav_sidebar-nav_side .open .dropdown-menu>li>a {
        line-height: 20px;
    }
    .nav_sidebar-nav_side .open .dropdown-menu>li>a:hover,
    .nav_sidebar-nav_side .open .dropdown-menu>li>a:focus {
        background-image: none;
    }
}
@media (min-width: 768px) {
    .nav_sidebar-nav_side {
        float: left;
        margin: 0;
    }
    .nav_sidebar-nav_side>li {
        float: left;
    }
    .nav_sidebar-nav_side>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .nav_sidebar-nav_side.nav_sidebar-right:last-child {
        margin-right: -15px;
    }
}
@media (min-width: 768px) {
    .nav_sidebar-left {
        float: left !important;
    }
    .nav_sidebar-right {
        float: right !important;
    }
}
.nav_sidebar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
@media (min-width: 768px) {
    .nav_sidebar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .nav_sidebar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .nav_sidebar-form .input-group>.form-control {
        width: 100%;
    }
    .nav_sidebar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .nav_sidebar-form .radio,
    .nav_sidebar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .nav_sidebar-form .radio input[type="radio"],
    .nav_sidebar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
    .nav_sidebar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}
@media (max-width: 767px) {
    .nav_sidebar-form .form-group {
        margin-bottom: 5px;
    }
}
@media (min-width: 768px) {
    .nav_sidebar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .nav_sidebar-form.nav_sidebar-right:last-child {
        margin-right: -15px;
    }
}
.nav_sidebar-nav_side>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav_sidebar-fixed-bottom .nav_sidebar-nav_side>li>.dropdown-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.nav_sidebar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}
.nav_sidebar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav_sidebar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px;
}
.nav_sidebar-text {
    margin-top: 15px;
    margin-bottom: 15px;
}
@media (min-width: 768px) {
    .nav_sidebar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }
    .nav_sidebar-text.nav_sidebar-right:last-child {
        margin-right: 0;
    }
}
.nav_sidebar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.nav_sidebar-default .nav_sidebar-brand {
    color: #777;
}
.nav_sidebar-default .nav_sidebar-brand:hover,
.nav_sidebar-default .nav_sidebar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.nav_sidebar-default .nav_sidebar-text {
    color: #777;
}
.nav_sidebar-default .nav_sidebar-nav_side>li>a {
    color: #777;
}
.nav_sidebar-default .nav_sidebar-nav_side>li>a:hover,
.nav_sidebar-default .nav_sidebar-nav_side>li>a:focus {
    color: #333;
    background-color: transparent;
}
.nav_sidebar-default .nav_sidebar-nav_side>.active>a,
.nav_sidebar-default .nav_sidebar-nav_side>.active>a:hover,
.nav_sidebar-default .nav_sidebar-nav_side>.active>a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.nav_sidebar-default .nav_sidebar-nav_side>.disabled>a,
.nav_sidebar-default .nav_sidebar-nav_side>.disabled>a:hover,
.nav_sidebar-default .nav_sidebar-nav_side>.disabled>a:focus {
    color: #ccc;
    background-color: transparent;
}
.nav_sidebar-default .nav_sidebar-toggle {
    border-color: #ddd;
}
.nav_sidebar-default .nav_sidebar-toggle:hover,
.nav_sidebar-default .nav_sidebar-toggle:focus {
    background-color: #ddd;
}
.nav_sidebar-default .nav_sidebar-toggle .icon-bar {
    background-color: #888;
}
.nav_sidebar-default .nav_sidebar-collapse,
.nav_sidebar-default .nav_sidebar-form {
    border-color: #e7e7e7;
}
.nav_sidebar-default .nav_sidebar-nav_side>.open>a,
.nav_sidebar-default .nav_sidebar-nav_side>.open>a:hover,
.nav_sidebar-default .nav_sidebar-nav_side>.open>a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .nav_sidebar-default .nav_sidebar-nav_side .open .dropdown-menu > li > a {
        color: #777;
    }
    .nav_sidebar-default .nav_sidebar-nav_side .open .dropdown-menu>li>a:hover,
    .nav_sidebar-default .nav_sidebar-nav_side .open .dropdown-menu>li>a:focus {
        color: #333;
        background-color: transparent;
    }
    .nav_sidebar-default .nav_sidebar-nav_side .open .dropdown-menu>.active>a,
    .nav_sidebar-default .nav_sidebar-nav_side .open .dropdown-menu>.active>a:hover,
    .nav_sidebar-default .nav_sidebar-nav_side .open .dropdown-menu>.active>a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .nav_sidebar-default .nav_sidebar-nav_side .open .dropdown-menu>.disabled>a,
    .nav_sidebar-default .nav_sidebar-nav_side .open .dropdown-menu>.disabled>a:hover,
    .nav_sidebar-default .nav_sidebar-nav_side .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.nav_sidebar-default .nav_sidebar-link {
    color: #777;
}
.nav_sidebar-default .nav_sidebar-link:hover {
    color: #333;
}
.nav_sidebar-inverse {
    background-color: #222;
    border-color: #080808;
}
.nav_sidebar-inverse .nav_sidebar-brand {
    color: #999;
}
.nav_sidebar-inverse .nav_sidebar-brand:hover,
.nav_sidebar-inverse .nav_sidebar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.nav_sidebar-inverse .nav_sidebar-text {
    color: #999;
}
.nav_sidebar-inverse .nav_sidebar-nav_side>li>a {
    color: #999;
}
.nav_sidebar-inverse .nav_sidebar-nav_side>li>a:hover,
.nav_sidebar-inverse .nav_sidebar-nav_side>li>a:focus {
    color: #fff;
    background-color: transparent;
}
.nav_sidebar-inverse .nav_sidebar-nav_side>.active>a,
.nav_sidebar-inverse .nav_sidebar-nav_side>.active>a:hover,
.nav_sidebar-inverse .nav_sidebar-nav_side>.active>a:focus {
    color: #fff;
    background-color: #080808;
}
.nav_sidebar-inverse .nav_sidebar-nav_side>.disabled>a,
.nav_sidebar-inverse .nav_sidebar-nav_side>.disabled>a:hover,
.nav_sidebar-inverse .nav_sidebar-nav_side>.disabled>a:focus {
    color: #444;
    background-color: transparent;
}
.nav_sidebar-inverse .nav_sidebar-toggle {
    border-color: #333;
}
.nav_sidebar-inverse .nav_sidebar-toggle:hover,
.nav_sidebar-inverse .nav_sidebar-toggle:focus {
    background-color: #333;
}
.nav_sidebar-inverse .nav_sidebar-toggle .icon-bar {
    background-color: #fff;
}
.nav_sidebar-inverse .nav_sidebar-collapse,
.nav_sidebar-inverse .nav_sidebar-form {
    border-color: #101010;
}
.nav_sidebar-inverse .nav_sidebar-nav_side>.open>a,
.nav_sidebar-inverse .nav_sidebar-nav_side>.open>a:hover,
.nav_sidebar-inverse .nav_sidebar-nav_side>.open>a:focus {
    color: #fff;
    background-color: #080808;
}
@media (max-width: 767px) {
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu>li>a {
        color: #999;
    }
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu>li>a:hover,
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
    }
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu>.active>a,
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu>.active>a:hover,
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu>.active>a:focus {
        color: #fff;
        background-color: #080808;
    }
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu>.disabled>a,
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu>.disabled>a:hover,
    .nav_sidebar-inverse .nav_sidebar-nav_side .open .dropdown-menu>.disabled>a:focus {
        color: #444;
        background-color: transparent;
    }
}
.nav_sidebar-inverse .nav_sidebar-link {
    color: #999;
}
.nav_sidebar-inverse .nav_sidebar-link:hover {
    color: #fff;
} 

 
@media (max-width: 767px) {
   /* .hidden-xs {
        display: none !important;
    }*/
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
 

 
@media (min-width: 768px) {
  
    .app,
    .app body {
        height: 100%;
        overflow: hidden;
    }
    .app .hbox.stretch {
        height: 100%;
    }
    .app .vbox>section,
    .app .vbox>footer {
        position: absolute;
    }
    .app .vbox.flex>section>section {
        overflow: auto;
    }
    .hbox {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
		
		
    }
    .hbox>aside,
    .hbox>section {
        display: table-cell;
        vertical-align: top;
        height: 100%;
        float: none;
		
    }
    .hbox>aside.show,
    .hbox>aside.hidden-sm,
    .hbox>section.show,
    .hbox>section.hidden-sm {
        display: table-cell !important;
    }
    .vbox {
        display: table;
        border-spacing: 0;
        position: relative;
        height: auto;
		width: 100%;
		display: inline-block;
         
    }
    .vbox>section,
    .vbox>footer {
        top: 0;
        bottom: 0;
        width: 100%;
    }
    .vbox>header ~ section {
        top: 50px;
    }
    .vbox>header.header-md ~ section {
        top: 60px;
    }
    .vbox>section.w-f {
        bottom: 20px;
    }
    .vbox>section.w-f-md {
        bottom: 20px;
    }
    .vbox>footer {
        top: auto;
        z-index: 1000;
    }
    .vbox.flex>header,
    .vbox.flex>section,
    .vbox.flex>footer {
        position: inherit;
    }
    .vbox.flex>section {
        display: table-row;
        height: 100%;
    }
    .vbox.flex>section>section {
        position: relative;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }
    .ie .vbox.flex>section>section {
        display: table-cell;
    }
    .vbox.flex>section>section>section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
	
 
  
}
.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}
.no-touch .scrollable.hover {
    overflow-y: hidden;
}
.no-touch .scrollable.hover:hover {
    overflow: visible;
    overflow-y: auto;
}
.no-touch::-webkit-scrollbar-button {
    width: 10px;
    height: 6px;
    background-color: rgba(50, 50, 50, 0.05);
}
.slimScrollBar {
    border-radius: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box !important;
}
@media print {
    html,
    body,
    .hbox,
    .vbox {
        height: auto;
    }
    .vbox>section,
    .vbox>footer {
        position: relative;
    }
}
.nav_sidebar-header {
    position: relative;
}
.nav_sidebar-header>.btn {
    position: absolute;
    font-size: 1.3em;
    padding: 9px 16px;
    line-height: 30px;
    left: 0;
    text-decoration: none !important;
}
.nav_sidebar-header .nav_sidebar-brand+.btn {
    right: 0;
    top: 0;
    left: auto;
}
.nav_sidebar-brand {
    float: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 50px;
    display: inline-block;
    padding: 0 20px;
}
.nav_sidebar-brand:hover {
    text-decoration: none;
}
.nav_sidebar-brand img {
    max-height: 20px;
    margin-top: -4px;
    vertical-align: middle;
}
.nav_side-primary li>a>i {
    margin: -10px -10px;
    line-height: 38px;
    width: 38px;
    float: left;
    margin-right: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.nav_side-primary li>a>i:before {
    position: relative;
    z-index: 2;
}
.nav_side-primary ul.nav_side>li>a {
    padding: 9px 20px;
    position: relative;
    -webkit-transition: background-color .2s ease-in-out 0s;
    transition: background-color .2s ease-in-out 0s;
}
.no-borders .nav_side-primary ul.nav_side>li>a {
    border-width: 0 !important;
}
.nav_side-primary ul.nav_side>li>a>.badge {
    font-size: 11px;
    padding: 2px 5px 2px 4px;
    margin-top: 2px;
}
.nav_side-primary ul.nav_side>li>a>.text-muted {
    margin: 0 3px;
}
.nav_side-primary ul.nav_side>li>a.active .text {
    display: none;
}
.nav_side-primary ul.nav_side>li>a.active .text-active {
    display: inline-block !important;
}
.nav_side-primary ul.nav_side>li li a {
    font-weight: normal;
    text-transform: none;
}
.nav_side-primary ul.nav_side>li.active>ul {
    display: block;
}
.nav_side-primary ul.nav_side ul {
    display: none;
}
@media (min-width: 768px) {
    .visible-nav_side-xs {
        display: none;
    }
    .nav_side-xs {
        width: 250px;
    }
    .nav_side-xs .slimScrollDiv,
    .nav_side-xs .slim-scroll {
        overflow: visible !important;
    }
    .nav_side-xs .slimScrollBar,
    .nav_side-xs .slimScrollRail {
        display: none !important;
    }
    .nav_side-xs .scrollable {
        overflow: visible;
    }
    .nav_side-xs .nav_side-primary>ul>li>a {
        position: relative;
        padding: 9px 0px 9px 20px;
        font-size: 14px;
        text-align: center; 
        overflow-y: hidden;
        border: none;
		line-height:1px;
		text-transform: none;
		border-bottom: 0px solid #cbe5f9;
		color:#fff;
    }
    .nav_side-xs .nav_side-primary>ul>li>a span {
        display: table-cell;
        vertical-align: middle;
        height: 75px;
        width: 250px;
        padding:20px 0px 0px 0px;
		line-height:20px;
		font-size:12px;
		 
    }
    .nav_side-xs .nav_side-primary>ul>li>a span.pull-right {
        display: none !important;
    }
    .nav_side-xs .nav_side-primary>ul>li>a i {
        width: auto;
        float: left;
        display: block;
        font-size: 18px;
        margin: 0;
        line-height: 24px;
        border: none !important;
        -webkit-transition: margin-top 0.2s;
        transition: margin-top 0.2s;
		margin-top:0px;
		 
    }
    .nav_side-xs .nav_side-primary>ul>li>a i b {
        left: 0 !important;
    }
    .nav_side-xs .nav_side-primary>ul>li>a .badge {
        position: absolute;
        right: 10px;
        top: 4px;
        z-index: 3;
    }
    .nav_side-xs .nav_side-primary>ul>li:hover>a i,
    .nav_side-xs .nav_side-primary>ul>li:focus>a i,
    .nav_side-xs .nav_side-primary>ul>li:active>a i,
    .nav_side-xs .nav_side-primary>ul>li.active>a i {
        /*margin-top: -75px;*/
    }
    .nav_side-xs .nav_side-primary>ul ul {
        display: none !important;
        position: absolute;
        left: 100%;
        top: 0px;
        z-index: 1150;
        width: 190px;
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
		height:700px;
    }
	 
	
    .nav_side-xs .nav_side-primary li:hover>ul,
    .nav_side-xs .nav_side-primary li:focus>ul,
    .nav_side-xs .nav_side-primary li:active>ul {
        display: block !important;
    }
    .nav_side-xs.nav_side-xs-right .nav_side-primary>ul ul {
        left: auto;
        right: 100%;
    }
    .nav_side-xs>.vbox>.header,
    .nav_side-xs>.vbox>.footer {
        padding: 0 20px;
    }
    .nav_side-xs .hidden-nav_side-xs {
        display: none;
    }
    .nav_side-xs .visible-nav_side-xs {
        display: inherit;
    }
    .nav_side-xs .text-center-nav_side-xs {
        text-align: center;
    }
    .nav_side-xs .nav_side-user {
        padding-left: 0;
        padding-right: 0;
    }
    .nav_side-xs .nav_side-user .avatar {
        float: none !important;
        margin-right: 0;
    }
    .nav_side-xs .nav_side-user .dropdown>a {
        display: block;
        text-align: center;
    }
    .nav_side-xs .nav_sidebar-header {
        float: none;
    }
    .nav_side-xs .nav_sidebar-brand {
        display: block;
        padding: 0;
    }
    .nav_side-xs .nav_sidebar-brand img {
        margin-right: 0;
    }
    .nav_side-xs .nav_sidebar {
        padding: 0;
    }
    .header-md .nav_sidebar-brand {
        line-height: 60px;
    }
    .header-md .nav_sidebar-brand img {
        max-height: 30px;
    }
    .header-md .nav_sidebar-nav_side>li>a {
        padding: 10px;
    }
}
@media (max-width: 767px) {
    .nav_sidebar-fixed-top-xs {
        position: fixed !important;
        left: 0;
        width: 100%;
        z-index: 2500;
    }
    .nav_sidebar-fixed-top-xs+* {
        padding-top: 50px !important;
    }
    .nav_side-bar-fixed-bottom {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1100;
    }
  
    .nav_side-primary .dropdown-menu {
        position: relative;
        float: none;
        left: 0;
        margin-left: 0;
        padding: 0;
    }
    .nav_side-primary .dropdown-menu a {
        padding: 15px;
        border-bottom: 1px solid #eee;
    }
    .nav_side-primary .dropdown-menu li:last-child a {
        border-bottom: none;
    }
    .nav_sidebar-header {
        text-align: center;
    }
    .nav_side-user {
        margin: 0;
        padding: 15px;
    }
    .nav_side-user.open {
        display: inherit !important;
    }
    .nav_side-user .dropdown-menu {
        display: block;
        position: static;
        float: none;
    }
    .nav_side-user .dropdown>a {
        display: block;
        text-align: center;
        font-size: 18px;
        padding-bottom: 10px;
    }
    .nav_side-user .avatar {
        width: 160px !important;
        float: none !important;
        display: block;
        margin: 20px auto;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        position: relative;
    }
    .nav_side-user .avatar:before {
        content: "";
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 5px;
        top: 5px;
        border: 4px solid #fff;
        border-radius: 500px;
    }
    .nav_side-off-screen {
        display: block !important;
        position: absolute;
        left: 0;
        top: 0px;
        bottom: 0;
        width: 75%;
        visibility: visible;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
		z-index:9999;
    }
    .nav_side-off-screen .nav_side-primary {
        display: block !important;
    }
    .nav_side-off-screen .nav_sidebar-fixed-top-xs {
        width: 75%;
    }
    .nav_side-off-screen.push-right .nav_sidebar-fixed-top-xs {
        left: 25%;
    }
    .nav_side-off-screen.push-right {
        left: auto;
        right: 0;
    }
    .nav_side-off-screen.push-right+* {
        -webkit-transform: translate3d(-75%, 0px, 0px);
        transform: translate3d(-75%, 0px, 0px);
    }
    .nav_side-off-screen+* {
        background-color: #f2f4f8;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        -moz-transition: -moz-transform 0.2s ease-in-out;
        -o-transition: -o-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translate3d(75%, 0px, 0px);
        transform: translate3d(75%, 0px, 0px);
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    .nav_side-off-screen+* .nav_side-off-screen-block {
        display: block !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1950;
    }
    .nav_sidebar+section .nav_side-off-screen {
        top: 50px;
    }
    .nav_sidebar+section .nav_side-off-screen+* {
        top: 50px;
    }
    .slimScrollDiv,
    .slim-scroll {
        overflow: visible !important;
        height: auto !important;
    }
    .slimScrollBar,
    .slimScrollRail {
        display: none !important;
    }
} 


.bg-black.lt,
.bg-black .lt {
    background-color: #2f3940;
}
.bg-black.lter,
.bg-black .lter {
    background-color: #3b464d;
}
.bg-black.dk,
.bg-black .dk {
    background-color: #4b56c0;
	 
}
.bg-black.dker,
.bg-black .dker {
    background-color: #0d1215;
}
.bg-black.bg,
.bg-black .bg {
    background-color: #232c32;
}
.bg-black a {
    color: #9badb9;
}
.bg-black a:hover {
    color: #fff;
}
.bg-black a.list-group-item:hover,
.bg-black a.list-group-item:focus {
    background-color: inherit;
}
.bg-black .nav_side>li:hover>a,
.bg-black .nav_side>li:focus>a,
.bg-black .nav_side>li:active>a,
.bg-black .nav_side>li.active>a {
    color: #fff;
    background-color: #0964a9;
}
.bg-black .nav_side>li>a {
    color: #2d2d2d;
}
.bg-black .nav_side>li>a:hover {
    background-color: #f5f6fa;
	color:#4b56c0 !important;
	 border-radius: 30px 0px 0px 30px;
}

 
.bg-black .nav_side>li>a:focus {
    background-color: #f5f6fa;
	color:#4b56c0 !important;
	border-radius: 30px 0px 0px 30px;
}


.bg-black .nav_side .active{
    background-color: #f5f6fa !important;
	color:#4b56c0 !important;
	 border-radius: 30px 0px 0px 30px;
}


.bg-black .nav_side .open>a {
    background-color: #0964a9;
}
.bg-black .caret {
    border-top-color: #7d94a4;
    border-bottom-color: #7d94a4;
}
.bg-black.nav_sidebar .nav_side>li.active>a {
    color: #fff !important;
    background-color: #116a9e;
} 

.bg-white-only.header.header-md.nav_sidebar.nav_sidebar-fixed-top-xs {
    background: none repeat scroll 0 0;
    margin: 10px 0 0;
    width: 62px;
}

.bg-white-only.header.header-md.nav_sidebar.nav_sidebar-fixed-top-xs .fa {
	font-size:35px;
	color:#0a94c7;
	margin-left:10px;
    
}

.nav_sidebar-nav_side{ display: none;}
.nav_sidebar-fixed-top-xs{ display: none;}
.menus{ display: block; line-height: 19px;}
 

.menus_drop{ position:fixed; top:-73px; background:#0964a9;  width: 200px; height:100%; line-height:25px; margin-top:70px;}
.menus_drop li{ margin:0px; padding:0px;}
.menus_drop li a{ margin:0px; padding:6px 0px 6px 15px; color:#fff; display:inline-block; width:100%; font-size:13px; }
.menus_drop li a:hover{ margin:0px;  color: #fff; background:#586061 !important}

.single{ line-height:100px !important;}


.sub_menu{position:relative !important; left:0px !important; height:auto !important; width:200px !important; background:#116a9e; }
.sub_menu li a{ padding-left:25px !important; font-size:13px !important;}

.sub_menu .fa-angle-double-right { font-size:14px !important; line-height:42px !important;}


.navpro{ margin:0px; padding:0px;  }

.navpro .nav_side-xs {
    width: 170px !important;
}

.nav_side img{ width:40px;}


@media only screen and (max-width: 767px) {
.nav_sidebar-nav_side{ display: block;}
.nav_sidebar-fixed-top-xs{display: block;}
.menus{ display: block; text-align:center;}
 
.menus_drop {
    background: #0964a9 none repeat scroll 0 0;
    height: 100%;
    line-height: 25px;
    margin-top: 0px;
    position: relative;
    top: 0;
    width: 100%;
} 
.single {
    line-height: 25px !important;
}


.bg-black.dk, .bg-black .dk { 
    margin-top: 0px;
}

.menu_main {
    position: fixed;
    height: auto;
    z-index: 900;
    width: 90%;
    background: none;
}

.nav_sidebar + section .nav_side-off-screen + * {
    top: 70px;
    z-index: 9999;
}

.navpro .nav_side-xs {
    width: 100% !important;
}
 
 .nav_side img{ width:60px;}
 
 .nav_side > li {
    position: relative;
    display: block;
    width: 50%;
    float: left;
    height: 100px;
	z-index: 9999;
	border:1px solid #ededed;
}
.nav_side-primary li > a > i { margin:0px; 
    line-height: 38px;
    width: auto;
    float: none; 
    text-align: center;
    
}

}
/*.nav_side .fa-home{ color:#056ec8 ;}
.nav_side .fa-user-o{ color:#17ca13  ;}
.nav_side .fa-user-md{ color:#ff6600 ;}
.nav_side .fa-file-text-o{ color:#a814ed ;}
.nav_side .fa-user{ color:#ff07a5 ;}
.nav_side .fa-file-text{ color:#d11010 ;}*/
 
 
 
  
ul, ul li {
list-style: none;
}
a:hover, a:focus {
color: #2a6496;
text-decoration: none;
}
a, li , button{
        text-decoration: none;
		color: #777a7d;
    -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
       -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
        -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
         -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
            transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
}
 
.btn i {
margin-left: 10px;
}
.logout-style img{
	margin: 0;
}
.left-menu{
	margin:0px;
	padding:0px;
	width:250px;
	left:0;
	top:0;
	position: fixed; 
	min-height:100%;
	z-index:5000;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	overflow:hidden;
	height:100% !important;
	background:#4b56c0;
	border-radius: 0px 40px 40px 0px;
}
.left-menu .nav{
	margin-bottom: 30px;
}


.icon-mobile-nav{
	width: 40px; 
	position: fixed;
	left:40px;
	top:14px;
	z-index:9999;
	transform: translate3d(0, 0, 0);
	webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	
}

.icon-mobile-nav a{
	display: block;
	padding: 5px 7px;
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	line-height: 20px;
}
.icon-mobile-nav a:hover{
	color:#fff;
	text-decoration:none;
}
.icon-mobile-nav i {
    color: #fff;
    display: none;
}
.icon-mobile-nav a:hover{
	color:#f41b1b;
}
.hide-menu{
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.main-padding{
	padding-left: 0px;
}
.icon-mobile-nav-left{ 
	webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	
}
.left-menu .nav>li>a>i{
	border-radius: 100%;
	background: none !important;
	width: 20px;
	height: 20px;
	padding: 4px;
	position: absolute;
	left: 10px;
	font-size: 16px;
}
.left-menu .nav>li:first-child{
	padding-right: 40px;
}
.left-menu .nav>li:nth-of-type(2)>a>i{
	background: #e67e22;
}
.left-menu .nav>li:nth-of-type(3)>a>i{
	background: #2ecc71;
}
.left-menu .nav>li:nth-of-type(4)>a>i{
	background: #3498db;
}
.left-menu .nav>li:nth-of-type(5)>a>i{
	background: #e74c3c;
}
.left-menu .nav>li:nth-of-type(6)>a>i{
	background: #9b59b6;
}
.left-menu .nav>li:nth-of-type(7)>a>i{
	background: #148377;
}
.left-menu .nav>li:nth-of-type(8)>a>i{
	background: #7f8c8d;
}
.left-menu .nav>li:nth-of-type(9)>a>i{
	background: #035db1;
}
.left-menu .nav>li:nth-of-type(10)>a>i{
	background: #6bb9f0;
}
.left-menu .nav>li:nth-of-type(11)>a>i{
	background: #306977;
}
.left-menu .nav>li:nth-of-type(12)>a>i{
	background: #3f4b6e;
}
.left-menu .nav>li:nth-of-type(13)>a>i{
	background: #f62459;
}
.left-menu .nav>li:nth-of-type(14)>a>i{
	background: #e08283;
}
.left-menu .nav>li:nth-of-type(15)>a>i{
	background: #f64747;
}
.left-menu .nav>li:nth-of-type(16)>a>i{
	background: #674172;
}
.left-menu .nav>li:nth-of-type(17)>a>i{
	background: #9a12b3;
}
.left-menu .nav>li:nth-of-type(18)>a>i{
	background: #306977;
}
.left-menu .nav>li>a{
	line-height: 15px;
	color: #FFF;
	border-left: 3px solid;
	border-color: transparent;
	padding-left: 45px;
	border-bottom:1px solid #144060;
}
.left-menu .nav>li>a:hover, .left-menu .nav>li>a:focus{
	background: #081f2f;
	border-left: 3px solid #2ea3fe;
}
.left-menu .nav>li>a.active{
	border-left: 3px solid #2ea3fe;
}
.content-wrapper{
	width:100%;
	padding: 0px 0;
	padding-left:250px;
	margin-top: 0px;
	overflow: hidden;
	webkit-transition: all 0.5s ease-out;
	-moz-transition:  all 0.5s ease-out;
    -ms-transition:  all 0.5s ease-out;
    -o-transition:  all 0.5s ease-out;
	transition: all 0.5s ease-out;
	margin-bottom:60px;
	 
	 
}
.content-div-main {
	padding: 50px 0px 0px 0px;
	margin: 0px;
}
.main-padding {
	padding-left: 0px;
	padding-right:-15px !important;
}
.badge {
display: inline-block;
min-width: 15px;
padding: 3px 5px;
font-size: 10px;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
background-color: #F00;
border-radius: 10px;
position: absolute;
top: 5px;
left: 30px;
}
.notfication i {
color: #FFF;
padding: 6px;
background: #0e334e;
border-radius: 100%;
width: 25px;
height: 25px;
margin: 10px;
}
.dropdown-menu.extended {
max-width: 200px !important;
min-width: 160px !important;
top: 42px;
right: 10px;
left: auto;
width: 200px !important;
padding: 0;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
border: none !important;
border-radius: 4px;
-webkit-border-radius: 4px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .dropdown-menu.extended  {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    };
    }

.dropdown-menu.extended li p {
    background-color: #F1F2F7;
    color: #666666;
    margin: 0;
    padding: 10px;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

.dropdown-menu.extended li p.green {
    background-color: #a9d86e;
    color: #fff;
}

.dropdown-menu.extended li p.red {
    background-color: #ff6c60;
    color: #fff;
}

.dropdown-menu.extended li p.yellow {
    background-color: #fcb322;
    color: #fff;
}

.dropdown-menu.extended li a {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: none;
}

.dropdown-menu.extended li a {
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}

.dropdown-menu.extended li a:hover {
    background-color: #F7F8F9 !important;
    color: #2E2E2E;
}

.dropdown-menu.tasks-bar .task-info .desc {
    font-size: 13px;
    font-weight: normal;
}

.dropdown-menu.tasks-bar .task-info .percent {
    display: inline-block;
    float: right;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
    margin-top: -4px;
}

.dropdown-menu.extended .progress {
    margin-bottom: 0 !important;
    height: 10px;
}

.dropdown-menu.inbox li a .photo img {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 40px;
    margin-right: 4px;
    width: 40px;
}

.dropdown-menu.inbox li a .subject {
    display: block;
}

.dropdown-menu.inbox li a .subject .from {
    font-size: 12px;
    font-weight: 600;
}

.dropdown-menu.inbox li a .subject .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 5px;
}

.dropdown-menu.inbox li a .message {
    display: block !important;
    font-size: 11px;
}
.main-navbar{
	background: #FFF;
	height: 60px;
	z-index: 6000;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.2);
}
.logout-style, .notify {
	padding-top: 8px;
}
.logo img {
	max-height: 60px;
	margin: 8px auto;
}
.title-1 {
	font-weight: 400;
	margin-top: 10px;
}
.title-2 {
	font-weight: 400;
	color: #14629f;
}
.bluechip-tabs {
	text-align: left;
	/*border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;*/
	background:#FFF;
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
	padding: 0px 0px 0px 5px;
}

.bluechip-tabs li{
	display: inline;
	padding: 5px 15px;
}
.bluechip-tabs li>a { 
	margin-left: -3px;
	line-height: 32px;
	display: inline-block;
	border-right: 0px solid #ccc;
	border-bottom:2px solid #fff;
}
.bluechip-tabs li>a>i {
	margin-left: 10px;
	font-size: 18px;
	color: #14629f;
}
.bluechip-tabs li>a:hover {
	background: #fff;
	color: #14629f; 
	border-bottom:2px solid #14629f;
}
.bluechip-tabs li>a:hover>i { 
	color: #14629f; 
}
.bluechip-tabs .active{
	background: #fff;
	color: #14629f;
	border-bottom:2px solid #14629f;
}
.bluechip-tabs .active>i{
	color: #14629f;
}
.tab-wrapper{
	position: relative;
}
.tab-content{
	min-height:200px;
	text-align: left;
	-webkit-transition: opacity ease-out 0.5s;
    -moz-transition: opacity ease-out 0.5s;
    -o-transition: opacity ease-out 0.5s;
    transition: opacity ease-out 0.5s;
	opacity: 1; 
	 
width: 100%;
display: inline-block; 
}
.hide-tab{
    visibility:hidden;
    position: absolute;
    width: 100%;
	opacity: 0;
	top: 0;
	left: 0;
}
.search-normal {
margin: 0px 0px 15px 0px;
}
.select-normal select {
height: 34px;
border-color: #fff;
border-radius: 2px;
width: 100%;
margin: 10px 0;
padding: 0 10px;
-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.3);
box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}
.search-input {
border: 0;
border-radius: 0px;
width: 100%;
/*-webkit-box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 2px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 2px rgba(50, 50, 50, 0.3);*/
}
.search-style {
border-radius: 3px;
border: 0px solid #fff;
}
.search-button .btn {
border-bottom: 1px solid #fff;
border-radius: 2px;
background: #fff;
color: #14629F;
font-size: 16px;
padding: 5px 15px;
}
 
.status i {
margin-right: 5px;
}
.status .active {
color: #a3d90f;
}
.status .inactive {
color: #f81c1c;
}
 
.ckeditor{
width: 100%;
min-height: 200px;
margin: 15px 0;
}
.ckeditor-wrapper{
margin: 0px 0px 15px 0px;
}
 
.hr-1{
margin: 30px -50px 20px -50px;
border-top: 1px solid #14629F;
}
   
.search-grey .search-style{
background: #7d909f;
border: 1px solid #7d909f;
color: #FFF !important;
}
.search-grey .search-button .btn {
border-bottom: 1px solid #7d909f;
background: #7d909f;
color: #FFF;
}
.search-grey ::-webkit-input-placeholder {
   color: #FFF;
}

.search-grey :-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}

.search-grey ::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}

.search-grey :-ms-input-placeholder {  
   color: #FFF;  
} 

@media only screen and (max-width: 767px) {
.left-menu {
    margin: 0px;
    padding: 0px;
    width: 100%;
	}
	
	.icon-mobile-nav i {
    color: #fff;
    display: block;
}
}