/*
* 	Owl Carousel Owl Demo Theme 
*	v1.24
*/

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  display: block !important;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
  color: #fff;
  display: inline-block;
  zoom: 1;
  *display: inline; /*IE7 life-saver */
  margin: 0px 5px 5px 5px;
  padding: 0px;
  font-size: 12px;
  filter: Alpha(Opacity=100); /*IE7 fix*/
  opacity: 1;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100); /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline; /*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50); /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100); /*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #fff;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../owl-carousel/AjaxLoader.gif) no-repeat center center;
}
/*.owl-pagination {
    display: none;
}*/
.services_sec .owl-prev {
  /* background-image:url(../images/left_arrow.png) !important; */
  width: 45px;
  height: 45px;
  position: absolute;
  left: -60px;
  top: 50%;
}
.services_sec .owl-next {
  /* background-image: url(../images/right_arrow.png) !important; */
  width: 45px;
  height: 45px;
  position: absolute;
  right: -60px;
  top: 50%;
}

.prodict_list .owl-prev {
  /* background-image: url(../images/products_ar1.png) !important; */
  width: 25px;
  height: 25px;
  position: absolute;
  right: 30px;
  top: -40px;
}
.prodict_list .owl-next {
  /* background-image: url(../images/products_ar2.png) !important; */
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0px;
  top: -40px;
}
.prodict_list .owl-pagination {
  display: none;
}
.services_sec .owl-pagination {
  display: none;
}

@media only screen and (max-width: 767px) {
  .services_sec .owl-prev {
    /* background-image:url(../images/left_arrow.png) !important; */
    width: 45px;
    height: 45px;
    position: relative;
  }
  .services_sec .owl-next {
    /* background-image: url(../images/right_arrow.png) !important; */
    width: 45px;
    height: 45px;
    position: relative;
  }

  .services_sec .owl-prev {
    /* background-image: url(../images/left_arrow.png) !important; */
    width: 45px;
    height: 45px;
    position: absolute;
    left: -25px;
    top: 50%;
  }

  .services_sec .owl-next {
    /* background-image: url(../images/right_arrow.png) !important; */
    width: 45px;
    height: 45px;
    position: absolute;
    right: -25px;
    top: 50%;
  }
}
