<div style="padding:30px 30px 0px 30px;">

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="coverletter_l" valign="top">
        <div>
          <% if(profileImageInfo[0]) { %>
            <div><img src=<%=profileImage %> class="resume_img center-block"></div>
            <%}%>
              <div class="coverletter_name">
                <%= candidateInfo[0].firstName %>
                  <%= candidateInfo[0].lastName %>
              </div>
              <div class="coverletter_des">
                <%= candidateInfo[0].positionApplyingFor %>
              </div>

              <div>
                <!-- <% if(candidateInfo[0].telephoneNumber) { %>
                  <div class="coverletter_con"><img src="../../../../images/cover_land.png"></div>
                  <div class="coverletter_con1">
                    <%= candidateInfo[0].telephoneNumber %>
                  </div>
                  <div class="clearfix"></div>
                  <%}%> -->
                <% if(candidateInfo[0].currentAddress1) { %>
                  <div class="coverletter_con"><img src="../../../../images/cover_land.png"></div>
                  <div class="coverletter_con1">
                    <%= candidateInfo[0].currentAddress1 %>
                  </div>
                  <div class="clearfix"></div>
                  <%}%>
                    <% if(candidateInfo[0].phoneNumber) { %>
                      <div class="coverletter_con"><img src="../../../../images/cover_phone.png"></div>
                      <div class="coverletter_con1">
                        <%= candidateInfo[0].countryCode%>
                          <%= candidateInfo[0].phoneNumber %>
                      </div>
                      <div class="clearfix"></div>
                      <%}%>
                        <% if(candidateInfo[0].email) { %>
                          <div class="coverletter_con"><img src="../../../../images/cover_mail.png"></div>
                          <div class="coverletter_con1">
                            <%= candidateInfo[0].email %>
                          </div>
                          <%}%>
              </div>

        </div>
      </td>
      <td class="coverletter_r" valign="top">

        <div class="resume_right_sec">
          <div class="coverletter_r_head">
            <%= moment().format("MMMM DD, gggg") %>
          </div>
          <div class="coverletter_r_head1">
            <%= title %>
          </div>
          <div class="coverletter_r_con" style="white-space: pre-wrap !important;"><%= content %></div>

          <div class="clearfix"></div>

          <div class="coverletter_regards">Thanks</div>
          <div class="coverletter_regards1">
            <%= candidateInfo[0].firstName %>
              <%= candidateInfo[0].lastName %>
          </div>
          <!-- <div class="coverletter_signature">Signature </div> -->



        </div>

      </td>
    </tr>
  </table>



  <div class="resume_build_2l">


  </div>





</div>